#!/bin/sh
cp /etc/letsencrypt/live/<keyname>/privkey.pem /app/onlyoffice/DocumentServer/data/certs/onlyoffice.key
cp /etc/letsencrypt/live/<keyname>/fullchain.pem /app/onlyoffice/DocumentServer/data/certs/onlyoffice.crt
