#!/bin/sh
cp /etc/letsencrypt/live/{{ external_url }}/privkey.pem /app/onlyoffice/DocumentServer/data/certs/onlyoffice.key
cp /etc/letsencrypt/live/{{ external_url }}/fullchain.pem /app/onlyoffice/DocumentServer/data/certs/onlyoffice.crt
